<!-- specialities.component.html -->

<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center text-white">
    <a routerLink="/accueil" class="hover:underline">Accueil</a>
    <a routerLink="/medecins" class="hover:underline">Médecins</a>
    <a routerLink="/patients" class="hover:underline">Patients</a>
    <a routerLink="/consultations" class="hover:underline">Consultations</a>
    <a routerLink="/rendez-vous" class="hover:underline">Rendez-vous</a>
    <a routerLink="/specialites" class="hover:underline">Spécialités</a>
    <a routerLink="/contact" class="hover:underline">Contact</a>
    <button class="text-white hover:underline focus:outline-none">Se déconnecter</button>
  </div>
</nav>

<div class="container mx-auto mt-8">
  <h2 class="text-3xl font-semibold mb-4">Liste des Spécialités</h2>

  <!-- Affichage de la liste des spécialités -->
  <div class="w-full overflow-x-scroll">
    <table class="w-full text-left border border-gray-400">
      <thead class="bg-gray-500 font-semibold text-base text-white">
        <tr class="flex w-full py-2 border-t border-b border-gray-800">
          <th class="px-4 w-1/2 flex justify-center">Nom de la Spécialité</th>
          <th class="px-4 w-1/2 flex justify-center">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-gray-200 flex flex-col items-center">
        <tr *ngFor="let specialite of specialites" class="flex w-full py-2 border-b-2 border-gray-400">
          <td class="px-4 w-1/2 flex justify-center">{{ specialite.specialityName }}</td>
          <td class="px-4 w-1/2 flex justify-center">
            <button (click)="modifierSpecialite(specialite)" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue mr-2">
              Modifier
            </button>
            <button (click)="supprimerSpecialite(specialite.id)" class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600 focus:outline-none focus:shadow-outline-red">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Formulaire pour ajouter une spécialité -->
  <div class="mt-4">
    <h2 class="text-xl font-semibold mb-2">Ajouter une Spécialité</h2>
    <form (submit)="ajouterSpecialite()">
      <div class="mb-4">
        <label for="specialityName" class="block text-gray-700 text-sm font-medium">Nom de la Spécialité</label>
        <input type="text" id="specialityName" name="specialityName" [(ngModel)]="nouvelleSpecialite.specialityName" class="mt-1 p-2 w-full border rounded-md">
      </div>
      <button type="submit" class="w-full bg-green-500 text-white p-2 rounded-md hover:bg-green-600 focus:outline-none focus:shadow-outline-green">
        Ajouter
      </button>
    </form>
  </div>
</div>
